In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
app=pd.read_csv('Google-Playstore-Full.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (2,3,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
app.head()

,App Name,Category,Rating,Reviews,Installs,Size,Price,Content Rating,Last Updated,Minimum Version,Latest Version,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,DoorDash - Food Delivery,FOOD_AND_DRINK,4.548561573,305034,"5,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device,NaN,NaN,NaN,NaN
1,TripAdvisor Hotels Flights Restaurants Attract...,TRAVEL_AND_LOCAL,4.400671482,1.20792e+06,"100,000,000+",Varies with device,0,Everyone,"March 29, 2019",Varies with device,Varies with device,NaN,NaN,NaN,NaN
2,Peapod,SHOPPING,3.656329393,1967,"100,000+",1.4M,0,Everyone,"September 20, 2018",5.0 and up,2.2.0,NaN,NaN,NaN,NaN
3,foodpanda - Local Food Delivery,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",16M,0,Everyone,"March 22, 2019",4.2 and up,4.18.2,NaN,NaN,NaN,NaN
4,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.647752285,2291,"10,000+",Varies with device,$5.99,Everyone,"April 1, 2019",Varies with device,Varies with device,NaN,NaN,NaN,NaN

In [16]:
app2=app.drop(columns={'App Name','Last Updated','Minimum Version','Latest Version','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14'})

In [17]:
app2.head()

,Category,Rating,Reviews,Installs,Size,Price,Content Rating
0,FOOD_AND_DRINK,4.548561573,305034,"5,000,000+",Varies with device,0,Everyone
1,TRAVEL_AND_LOCAL,4.400671482,1.20792e+06,"100,000,000+",Varies with device,0,Everyone
2,SHOPPING,3.656329393,1967,"100,000+",1.4M,0,Everyone
3,FOOD_AND_DRINK,4.107232571,389154,"10,000,000+",16M,0,Everyone
4,FOOD_AND_DRINK,4.647752285,2291,"10,000+",Varies with device,$5.99,Everyone

In [18]:
app2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267052 entries, 0 to 267051
Data columns (total 7 columns):
Category          267051 non-null object
Rating            267052 non-null object
Reviews           267051 non-null object
Installs          267052 non-null object
Size              267052 non-null object
Price             267052 non-null object
Content Rating    267052 non-null object
dtypes: object(7)
memory usage: 14.3+ MB

In [41]:
app2['Rating']=app2['Rating'].str.replace('NaN','0')

In [50]:
app2['Rating']=app2.drop(Level={app2[app2['Rating'].str.contains('MUSIC_AND_AUDIO')==True}])

SyntaxError: invalid syntax (<ipython-input-50-0020d812c886>, line 1)

In [ ]:
app2.drop()